/*
Theme Name: Small Groups Sub-site Child Theme
Theme URI: http://generationschurch.com
Description: Child Theme for Generations Church Custom Theme
Version: 1.0
Author: Justin Sternberg
Author URI: http://dsgnwrks.pro
Template: GCTheme
*/

@import url("../GCTheme/style.css");

h1.mainpage {
	margin-bottom: -10px;
}

#leftcolumn h2, #leftcolumn h3, #leftcolumn h4, #leftcolumn h5, #leftcolumn h6 {
 	padding: 0;
 	margin: 1em 0;
}

.entry {
	margin-bottom: 3em;
}
